.container {
  border: 1px solid red;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;

  nav {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1240px;
    padding: 1rem;

    img {
      width: 100%;
      max-width: 80px;
      object-fit: cover;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 2rem;

      li {
        list-style-type: none;
      }
    }

    div:nth-of-type(2) {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}