@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {
  font-size: 62.5%;
  --background-color: #fdfdfd;
  --primary-color: #1492C5;
  --secondary-color: #226287;
  --title-font-color: #0f1416;
  --headings-font-family: "Tajawal", sans-serif;
  --max-width: 1240px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--headings-font-family);
  color: var(--title-font-color);
}

.container {
  /* background-color: var(--primary-color); */
  
}

input {
  padding: 0.2rem 0.5rem;
  background: var(--background-color);
  border: none;
  border-radius: 5px;
}

textarea {
  resize: none;
}

.displayNone{
  display: none;
}
